.btn {
  margin: 22px 0 15px 0;
  padding: 5px 0;
  font-size: 22px;
  display: block;
  width: 100%;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: black;
  color: white;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;

  &:hover {
    color: black;
    background-color: #fff;
    border: 1px solid black;
  }
}
