.img-container {
  margin-top: 8px;
  .img-preview {
    border: 1px solid gray;
    display: flex;
    height: 240px;
    width: 100%;

    img {
      width: 100%;
    }

    h1 {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .img-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;

    // common styles for select and clear
    button {
      flex: 1;
      padding: 7px 0;
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      border: 1px solid transparent;
      outline: none;
      border-radius: 6px;

      &:hover {
        cursor: pointer;
      }
    }

    .select {
      background: teal;
      color: white;

      label:hover {
        cursor: pointer;
      }

      &:hover {
        background: rgb(4, 75, 75);
        color: white;
        border: 1px solid gray;
      }
    }

    .clear {
      background: orangered;
      color: white;

      &:hover {
        color: orangered;
        background: white;
        border: 1px solid gray;
      }
    }

    #imgFile {
      display: none;
    }
  }
}
